/*
#111
#acacac
#4c4c4c
#bcbcbc
#d4d4d4
*/

body {
    background-color: #acacac;
}
h2 {
    text-align: center;
}
img {
    width: 100%;
}

/* #region navbar */
.top-nav {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-evenly;
    background-color: #4c4c4c;
    padding: 0px 24px;
}
nav {
    display: flex;
    align-items: center;
}
.navbar a {
    text-decoration: none;
    color: #d4d4d4;
    font-size: 18px;
    padding: 14px;
}
.navbar a:hover {
    color: #111;
    background-color: #d4d4d4;
}

/* #endregion navbar */

/* #region main-content */
.main-content {
    max-width: 960px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}
.section-1 {
    background-color: #d4d4d4;
    flex: 3;
    padding: 20px;
    margin-top: 48px;
}
.wenie_img {
    float: left;
    width: 50%;
    margin-right: 20px;
}
.aside-1 {
    background-color: #d4d4d4;
    flex: 1;
    padding: 12px;
    margin-top: 48px;
}

/* #endregion main-content */

/* #region footer */
.footer {
    position: absolute;
    width: 100%;
    bottom: auto;
    background-color: #111;
    padding: 30px 0px;
    text-align: center;
    font-size: 18px;
    color: #d4d4d4;
}

/* #endregion footer */