/*
#111
#acacac
#4c4c4c
#bcbcbc
#d4d4d4
*/

body {
    background-color: #acacac;
}
h2 {
    text-align: center;
}

/* #region navbar */
.top-nav {
    display: flex;
    justify-content: space-between;
    background-color: #4c4c4c;
    padding: 0px 24px;
}
nav {
    display: flex;
    align-items: center;
}
.navbar a {
    text-decoration: none;
    color: #d4d4d4;
    font-size: 18px;
    padding: 14px;
}
.navbar a:hover {
    color: #111;
    background-color: #d4d4d4;
}

/* #endregion navbar */

/* #region main-content */
.main-content {
    width: 960px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    gap: 2em;
}
.section-1 {
    background-color: #d4d4d4;
    flex-basis: 70%;
    padding: 20px;
}
.aside-1 {
    background-color: #d4d4d4;
    flex-basis: 20%;
    padding: 12px;
}

/* #endregion main-content */

/* #region footer */
.footer {
    background-color: #111;
    padding: 30px 0px;
    text-align: center;
    font-size: 18px;
    color: #d4d4d4;
}

/* #endregion footer */